.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    overflow: hidden;
    position: relative;
}

.explorer {
    width: 100%;
    height: 100px;
    resize: block;
    background-color: red;
}

.editor {
    font-size: 30px;
    height: 100%;
}

#console {
    outline: 1px solid black;
    height: 100%;
}

#run-button {
    position: absolute;
    right: 0;
    top: 7px;
}

.Resizer {
    position: relative;
    background: darkGray;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.vertical {
    width: 15px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}


.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover,
.Resizer.disabled:active {
    border-color: transparent;
}

.Resizer::after,
.Resizer::before {
    content: "";
    border-left: 1px solid #333;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    right: 0;
    display: inline-block;
    height: 20px;
    margin: 0 2px;
}

.Resizer::before {
    left: 0;
}