.root, .root .items {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

#explorer *:has(> .items) {
    border-left: 2px solid;
    border-left-color: #00000000;
    transition: border-left-color .2s;
}

#explorer:hover *:has(> .items) {
    border-left-color: rgba(185, 185, 185, 0.526);
}

.f-name {
    word-break: keep-all;
}

.folder li {
    display: block;
}

.folder-icon {
    cursor: pointer;
    display: inline;
}

summary.f-name {
    list-style-type: '';
}

details[open] > summary.f-name {
    list-style-type: '';
}

.add-button-folder {
    width: fit-content;
    display: inline;
    float: right;
    margin-right: 5px;
    opacity: 0;
    transition: .2s all;
}

.f-name:hover > .add-button-folder {
    opacity: 1;
    cursor: pointer;
}