.App:has(.login-container) {
    background-color: rgb(29, 29, 29);    
}

h1 {
    font-size: 2em;
}

.login-container {
    color: white;
    display: /* make sure everything looks good */ flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 90vh;
    font-family: "Source Code Pro", monospace;
}

.login-form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form {
    border-radius: 15px;
    padding: 30px 20px 10px 20px;
    outline: 6px solid rgb(29, 29, 29);
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
}

.login-header {
    font-size: .5em;
}

.login-form label {
    min-width: 500px;
    font-size: 1em;
    color: red;
    transition: all .5s;
}

.input-group {
    width: 100%;
}

.input-group:has(:not(:placeholder-shown):valid) > label {
    color: lime;
}

.login-form input[type]:not([type='submit']) {
    width: 100%;
    font-size: .5em;
    font-family: inherit;
    background-color: transparent !important;
    color: white;
    border: 1px solid gray;
    padding: 7px 3px;
    border-radius: 10px;
}

.login-form input[type='submit'] {
    margin-top: 20px;
    font-family: inherit;
    font-size: .65em;
    width: fit-content;
    padding: 10px;
    /* align-self: flex-end; */
    background-color: rgb(29, 29, 29);
    border: transparent;
    border-radius: 10px;
    color: white;
}

.login-form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

.extra-button {
    margin: 0 5px;
    color: gray;
}

.extra-button:hover {
    color: rgb(52, 52, 255);
}
