.headings {
    color: white;
    mix-blend-mode: difference;
}

#home {
    background-image: url('../../../images/home.gif');
    background-repeat: repeat-x;
    background-color: rgb(38, 37, 37);

    position: relative;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}